<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <useUniversalAnimation>false</useUniversalAnimation>
  <universalAnimation>
    <fadeInDuration>100</fadeInDuration>
    <fadeOutDuration>100</fadeOutDuration>
    <stayDuration>2000</stayDuration>
  </universalAnimation>
  <interval>50</interval>
  <tileList>
    <TileBase xsi:type="ImageTile">
      <tileType>Image</tileType>
      <opacity>0.8</opacity>
      <animation>
        <fadeInDuration>100</fadeInDuration>
        <fadeOutDuration>100</fadeOutDuration>
        <stayDuration>2000</stayDuration>
      </animation>
      <imagePath>Resources/doge.png</imagePath>
      <imageSize>
        <Width>200</Width>
        <Height>280</Height>
      </imageSize>
    </TileBase>
    <TileBase xsi:type="TextTile">
      <tileType>Text</tileType>
      <opacity>1</opacity>
      <animation>
        <fadeInDuration>100</fadeInDuration>
        <fadeOutDuration>100</fadeOutDuration>
        <stayDuration>2000</stayDuration>
      </animation>
      <text>WOW!</text>
      <fontSize>36</fontSize>
      <background>
        <A>0</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>0</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </background>
      <randomBackground>false</randomBackground>
      <foreground>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </foreground>
      <randomForeground>true</randomForeground>
    </TileBase>
    <TileBase xsi:type="TextTile">
      <tileType>Text</tileType>
      <opacity>1</opacity>
      <animation>
        <fadeInDuration>100</fadeInDuration>
        <fadeOutDuration>100</fadeOutDuration>
        <stayDuration>2000</stayDuration>
      </animation>
      <text>So Doge!</text>
      <fontSize>36</fontSize>
      <background>
        <A>0</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>0</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </background>
      <randomBackground>false</randomBackground>
      <foreground>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </foreground>
      <randomForeground>true</randomForeground>
    </TileBase>
    <TileBase xsi:type="TextTile">
      <tileType>Text</tileType>
      <opacity>1</opacity>
      <animation>
        <fadeInDuration>100</fadeInDuration>
        <fadeOutDuration>100</fadeOutDuration>
        <stayDuration>2000</stayDuration>
      </animation>
      <text>Good Enough!</text>
      <fontSize>36</fontSize>
      <background>
        <A>0</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>0</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </background>
      <randomBackground>false</randomBackground>
      <foreground>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </foreground>
      <randomForeground>true</randomForeground>
    </TileBase>
    <TileBase xsi:type="TextTile">
      <tileType>Text</tileType>
      <opacity>1</opacity>
      <animation>
        <fadeInDuration>100</fadeInDuration>
        <fadeOutDuration>100</fadeOutDuration>
        <stayDuration>2000</stayDuration>
      </animation>
      <text>Wonderful</text>
      <fontSize>36</fontSize>
      <background>
        <A>0</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>0</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </background>
      <randomBackground>false</randomBackground>
      <foreground>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </foreground>
      <randomForeground>true</randomForeground>
    </TileBase>
    <TileBase xsi:type="TextTile">
      <tileType>Text</tileType>
      <opacity>1</opacity>
      <animation>
        <fadeInDuration>100</fadeInDuration>
        <fadeOutDuration>100</fadeOutDuration>
        <stayDuration>2000</stayDuration>
      </animation>
      <text>More more more</text>
      <fontSize>36</fontSize>
      <background>
        <A>0</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>0</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </background>
      <randomBackground>false</randomBackground>
      <foreground>
        <A>255</A>
        <R>0</R>
        <G>0</G>
        <B>0</B>
        <ScA>1</ScA>
        <ScR>0</ScR>
        <ScG>0</ScG>
        <ScB>0</ScB>
      </foreground>
      <randomForeground>true</randomForeground>
    </TileBase>
  </tileList>
</Configuration>